.rating {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.like {
  @extend .rating;

  @media (min-width: 768px) {
    &:hover {
      color: #049AE5;

      .ratingIconBg {
        background-color: rgba(4, 154, 229, 0.1);
        border-radius: 50%;

      }
    }


  }
}

.ratingClick {
  .ratingIconBg {
    background-color: rgba(4, 154, 229, 0.2) !important;
  }
}

.dislike {
  @extend .rating;

  @media (min-width: 768px) {
    &:hover {
      color: #049AE5;

      .ratingIconBg {
        background-color: rgba(4, 154, 229, 0.1);
        border-radius: 50%;

      }
    }
  }
}

.ratingIconBg {
  position: absolute;
  margin: -8px;
  outline-style: none;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  border-radius: 9999px;
  transition-duration: 0.2s;
}

.ratingCount {
  padding-left: 12px;
  padding-right: 12px;
  min-width: 40px;

}

.ratingIcon {
  width: 20px;
  height: 20px;
}

.filledRatingIcon {
  @extend .ratingIcon;
  color: #049AE5;
}

.buttonWrapper {
  position: relative;
  display: flex;

}