
.bgBlueOption {
  background-color: rgba(247, 249, 249, 1);

}

.searchBox {
  position: relative;
  height: 32px;


  * {
    text-align: center;
  }

  .searchBar {
    font-size: 16px;
    font-weight: 300;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: 1px solid #ccc;
    padding: 18px 20px 18px 40px;
    background: transparent;
    outline: none;
  }

  .searchIcon {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 9px;
    left: 15px;
    color: #aaa;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .searchBar:focus {
    border: 1px solid #add8ff;

    &::placeholder {
      color: transparent;
    }

  }

  .searchBar:focus + .searchIcon {
    color: #add8ff;
  }
}

.parentDataList {
  position: relative;
  z-index: 2022;

  .datalist {
    background-color: white;
    font-size: 14px;
    position: absolute;
    margin-top: 0.2rem;
    width: 100%;
    max-height: 270px;
    overflow-x: hidden;
    outline: 0;
    transition: opacity .1s ease;
    border-radius: 0.3rem;
    border-color: #96c8da;
    box-shadow: rgba(136, 153, 166, 0.2) 0px 0px 15px;
  }
}

.datalistOption {
  cursor: pointer;
  text-align: left;
  padding: 12px 16px;
  transition: background-color 0.2s;
}

.dashboardSearchBox {
  @extend .searchBox;
  display: inline-block;
  margin: 0;
}

.professorName {
  font-weight: 600;
  text-align: left;
}

.professorItem {
    display: flex;
  flex-direction: column;
  * {
    text-align: left;
  }


    .professorName {
      font-weight: 600;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }


    .email {
      color: rgb(83, 100, 113);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;


    }
}
