.form {

  h2 {
    user-select: none;
    -webkit-user-select: none;
  }

  margin: 0 auto auto;
  background-color: white;
  font-size: 15px;
  padding: 16px 16px;
  width: 100%;
  max-width: 600px;

  @media (max-width: 815px) {
    max-width: 100%;
    border-radius: 0;
    box-shadow: none;
    margin-top: 1rem;
  }
}

.reviewForm {
  @extend .form;
}

.timelineForm {
  @extend .form;
  max-width: 100%;
}

.submitButtonWrapper {
  display: flex;
}

.formSubmit {
  margin-top: 26px;
  border: none;
  padding: 12px 16px;
  border-radius: 9999px;
  color: white;
  font-weight: 600;

  user-select: none;
  -webkit-user-select: none;
}

.enabledFormSubmit {
  @extend .formSubmit;
  cursor: pointer;
  background-color: #87CEFA;
  transition: opacity 0.2s ease-in-out;

  &:hover {
    opacity: 0.8;
  }
}

.disabledFormSubmit {
  @extend .formSubmit;
  background-color: #87CEFA;
  opacity: 0.5;
  cursor: default;
}

.veryDisabledFormSubmit {
  @extend .disabledFormSubmit;
  pointer-events: none;
  background-color: #374964;
  opacity: 0.2;

}

.disclaimer {
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.6rem;
  font-weight: 400;
  margin-top: 1rem;

  a {
    color: #0278D1;
    text-decoration: none;
  }
}