@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;600&display=swap');


body {
    background-color: #f1f2f3;
}

/*
NavBar DATA HERE
 */
.title {
    color: #E9DAD7;
    font-weight: 600;
    font-size: 2.5rem;
    text-decoration: none;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    background-color: #4C89EE;
    -webkit-box-shadow: 0 2px 4px -1px rgba(0,0,0,0.25);
    -moz-box-shadow: 0 2px 4px -1px rgba(0,0,0,0.25);
    box-shadow: 0 2px 4px -1px rgba(0,0,0,0.25);
}

.nav-choice {
    color: #E9DAD7;
    list-style-type: none;
    font-size: 1.1rem;
    text-decoration: none;
    margin: 2rem;
}

.change-locale {
    border: 2px solid #E9DAD7;
    padding: 0.75rem 1rem 0.75rem 1rem;
}

.change-locale:hover {
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
}

/*
Home DATA
 */

.home {
    margin-top: 5%;
    margin-left: 3rem;
    margin-right: 3rem;
    display: flex;
    flex-direction: column;
}

.boxes {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.help-us {
    background-color: rgba(1, 67, 97, 0.01);
    font-weight: 200;
    font-size: 1.5rem;
    border-radius: 8px;
    color: #007fff;
    border: 1px solid #007fff;
    padding: 1.5rem;
    width: 70%;
    margin-bottom: 4rem;
}

.alert {
    font-weight: 400;
    margin-bottom: 1rem;
}

/*
Box DATA HERE
 */

.box {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 50rem;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    border-radius: 6px;
    padding: 3rem;
    background-color: white;
}

.box-title {
    font-weight: 400;
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.box-description {
    font-weight: 200;
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

/*
SearchBox DATA
 */

.search-bar {
    border: 1px solid rgba(0, 0, 0, 0.20);
    padding: 1rem 8rem 1rem 3rem;
    box-shadow: rgba(50, 50, 105, 0.5) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    border-radius: 6px;
    font-weight: 400;
    font-size: 1.2rem;
}

.help-course {
    color: rgba(0, 0, 0, 0.4);
    font-size: 0.9rem;
}

.icon-label {
    position: relative;
}

.icon-label:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 3rem;
    background: url("assests/search-rounded.svg") center / contain no-repeat;
}

.datalist {
    padding: 0;
    margin-top: 0;
    position: absolute;
    background-color: white;
    width: 25.5rem;
    max-height: 20rem;
    overflow-x: hidden;
    outline: 0;
    transition: opacity .1s ease;
    border-radius: 0 0 .28571429rem .28571429rem;
    box-shadow: 0 2px 3px 0 rgba(34,36,38,.15);
    border-color: #96c8da;
    border-top-width: 0;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
}

.datalist-option{
    display: flex;
    flex-direction: column;
    position: relative;
    cursor: pointer;
    text-align: left;
    border-style: none;
    line-height: 1em;
    color: rgba(0,0,0,.87);
    font-size: 1rem;
    text-transform: none;
    font-weight: 200;
    box-shadow: none;
    padding: .8rem 1.1rem;
    white-space: normal;
    word-wrap: normal;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.course-name {
    font-weight: 400;
    margin-top: 1rem;
    font-size: 1.2rem;
}

/**
Footer DATA
 */

.footer {
    margin: 3rem;
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
}

.foot-link {
    color: black;
}