.idea

client/node_modules
client/.pnp
client/.pnp.js

client/coverage

client/.next/
client/out/
client/.next.tar/

client/build

client/.DS_Store
client/*.pem

client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*

client/.env*.local

client/*.tsbuildinfo
client/next-env.d.ts

server/.env
server/tmp/
server/dist/
server/node_modules/

client-gate/.env

auth-server/
