.idea

vite-client/node_modules
vite-client/.pnp
vite-client/.pnp.js

vite-client/coverage

vite-client/build
vite-client/dist

vite-client/.DS_Store
vite-client/*.pem

vite-client/npm-debug.log*
vite-client/yarn-debug.log*
vite-client/yarn-error.log*

vite-client/.env*.local

vite-client/*.tsbuildinfo
vite-client/next-env.d.ts

server/.env
server/tmp/
server/dist/
server/node_modules/

client-gate/.env
client-gate/views/
client-gate/node_modules/

auth-server/

spaceread-database