.review {
  background-color: white;
  font-size: 15px;
  padding: 12px 18px;
  transition: opacity 0.3s ease-out 0s;
  border-top: solid 1px rgb(239, 243, 244);


  @media (max-width: 815px) {
    border-radius: 0;
    box-shadow: none;
  }
}


.reviewWrapper {
  &:last-of-type {
    margin-bottom: 40px;
  }
}

.noComments {
  border-top: solid 1px rgb(239, 243, 244);
  color: rgba(0, 0, 0, 0.5);
  padding-top: 12px;

  span {
    display: block;
    margin: 0 auto;
    width: fit-content;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadeIn {
  animation: fadeIn 1s;
}

.uaeuOrigin {
  display: flex;
  align-items: center;
  font-size: 12px;
  opacity: 0.7;

  svg {
    margin-right: 2px;
  }

}

.comment {
  display: flex;
  align-items: center;

  cursor: pointer;

  margin-right: 12px;

  .commentCount {
    padding-left: 12px;
    padding-right: 12px;
  }


  @media (min-width: 768px) {
    &:hover {
      color: #049AE5;

      .iconBackground {
        background-color: rgba(4, 154, 229, 0.1);
        border-radius: 50%;

      }
    }
  }
}

.buttonClick {
  .iconBackground {
    background-color: rgba(4, 154, 229, 0.2) !important;
  }
}

.commentButton {
  display: flex;
  position: relative;
}

.deleteButton {
  display: flex;
  align-items: center;
  width: fit-content;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  margin-right: 12px;
  margin-left: 12px;

  font-size: 18px;
  border-radius: 50%;

  position: relative;

  transition: background-color 0.2s ease-in-out;

  @media (min-width: 768px) {

    &:hover {
      color: rgb(249, 24, 128);

      .iconBackground {
        background-color: rgba(249, 24, 128, 0.1);
        border-radius: 50%;

      }
    }
  }

}

.iconBackground {
  position: absolute;
  margin: -8px;
  outline-style: none;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  border-radius: 9999px;
  transition-duration: 0.2s;
}

.deleteConfirm {
  background-color: rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 500;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;


  .deleteConfirmModal {
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    padding: 12px;
    max-width: 80%;
    min-width: 300px;

    position: fixed;
    z-index: 100;

    .title {
      color: black;
      font-size: 15px;
      font-weight: 600;
      margin-bottom: 1rem;
    }

    .caution {
      margin-top: 12px;
    }

    .button {
      display: block;
      width: fit-content;
      padding: 10px 15px;
      border: none;
      //red button
      background-color: red;
      cursor: pointer;
      font-weight: 500;
      color: white;
      font-size: 12px;
      transition: opacity 0.2s ease-in-out;
      border-radius: 20px;
      user-select: none;
      -webkit-user-select: none;
      margin-top: 24px;

    }

    .cancel {
      display: block;
      width: fit-content;
      padding: 10px 15px;
      cursor: pointer;
      font-weight: 500;
      color: black;

      border: 2px solid black;
      font-size: 12px;
      border-radius: 20px;
      user-select: none;
      -webkit-user-select: none;
      margin-top: 24px;

      transition: all 0.2s ease-in-out;

      &:hover {
        background-color: rgba(0, 0, 0, 0.1);
      }
    }

  }
}

.reviewInfo {
  width: 100%;
  display: flex;
  justify-content: space-between;
  line-height: 20px;
}

.reviewInfoLeft {
  width: 100%;
  align-items: baseline;

  .reviewHead {
    display: flex;
    justify-content: space-between;
  }

  .reviewInfoLeftTop {
    display: flex;

    .authorName {
      font-weight: 600;
    }
  }

  .new {
    border: 1px solid rgba(0, 0, 0, 0.2);
    font-size: 10px;
    margin-left: 4px;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 4px;
    font-weight: 500;
  }
}

.recommendation {
  font-weight: 400;
  color: rgba(110, 112, 114, 1);
}

.time, .uaeuOrigin {
  color: rgb(139, 152, 165);
}

.reviewRight {


}

.reviewInfoRight {
  font-weight: 600;
  white-space: nowrap;
  display: flex;
  margin-top: 8px;
  align-items: center;
  gap: 4px;

  .reviewStars {
    display: flex;
    align-items: center;
  }
}

.reviewBody {
  margin: 16px 0;
  min-height: 7vh;

  p {
    font-weight: 400;
    line-height: 20px;
    word-wrap: break-word;
    white-space: pre-wrap;
  }
}


.imageList {
  display: flex;
  flex-wrap: wrap;
  margin-top: 12px;

  @media (max-width: 812px) {
    justify-content: center;
  }
}

.attachment {
  position: relative;
  cursor: pointer;

  width: 100%;
  height: 100%;
  max-height: 680px;

  border-radius: 16px;
  border: 1px solid #E5E5E5;

  overflow: hidden;
  z-index: 1;


  .imageDiv {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    max-width: 100%;
    height: 100%;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  img {
    inset: 0px;
    height: 100%;
    opacity: 0;
    position: absolute;
    width: 100%;
    z-index: -1;
    -webkit-user-drag: none;
    overflow-clip-margin: content-box;
    overflow: clip;
  }
}

.replyAttachment {
  @extend .attachment;
  width: 150px;
}

.translateText {
  font-size: 12px;
  font-weight: 500;
  margin-top: 8px;
  cursor: pointer;
  color: #049AE5;
  user-select: none;
  -webkit-user-select: none;
  width: fit-content;

  &:hover {
    text-decoration: underline;
  }

}

.reviewFooter {
  display: flex;
  align-items: center;
  font-size: 0.85rem;
  color: rgba(0, 0, 0, 0.5);
  padding-top: 18px;
  padding-bottom: 0.5rem;

}

.star {
  color: #049AE5;
}

.commentsSection {
  display: flex;
  padding-right: 12px;
  padding-top: 12px;
  padding-bottom: 24px;

  .line {
    background-color: rgb(207, 217, 222);
    width: 4px;
    margin-left: 16px;
    margin-right: 18px;
  }

  .commentsList {
    width: 100%;

  }
}

.reply {

  font-size: 13px;
  padding-bottom: 24px;

  .replyAuthor {
    font-weight: 600;
    margin-right: 4px;
    margin-bottom: 4px;

    display: flex;

    .authorText {
      font-weight: 400;
      color: rgba(110, 112, 114, 1);
    }

    .time {
      font-weight: 400;
    }
  }

  .replyText {
    font-weight: 400;
    margin-bottom: 4px;
    word-wrap: break-word;
    white-space: pre-wrap;
  }

  .replyFooter {
    display: flex;
    align-items: center;
    color: rgba(110, 112, 114, 1);
    justify-content: space-between;

    .footerButtons {
      display: flex;
      align-items: center;
    }

    .likeButton {
      display: flex;
      align-items: center;
      cursor: pointer;
    }

    .ratingIcon {
      width: 16px;
      height: 16px;
      margin-right: 8px;
    }

    .filledRatingIcon {
      @extend .ratingIcon;
      color: #049AE5;
    }

    .likeCount {
      font-size: 12px;
      min-width: 12px;
    }
  }

  .replyButton {
    margin-top: 4px;
    font-size: 12px;
    font-weight: 500;
    cursor: pointer;
  }

  &:last-of-type {
    padding-bottom: 0;
  }

}

.replyPreview {
  @extend .reply;
  font-size: 16px;
  padding-bottom: 0;
}

.mention {
  color: #049AE5;
}

.viewMoreButton {
  cursor: pointer;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  display: flex;
  align-items: center;

  @media (min-width: 768px) {

    &:hover {
      color: rgb(249, 24, 128);

      .iconBackground {
        background-color: rgba(249, 24, 128, 0.1);
        border-radius: 50%;

      }
    }
  }
}

.viewMoreReply {
  width: fit-content;
  margin-left: 41px;
  margin-bottom: 12px;
  font-weight: 500;
  color: rgba(110, 112, 114, 1);
  cursor: pointer;
  font-size: 12px;
  user-select: none;
  -webkit-user-select: none;

  @media (min-width: 768px) {

    &:hover {
      color: rgb(249, 24, 128);
    }
  }

  svg {
    width: 12px;
    height: 12px;
  }
}

.infoButton {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-left: 4px;
  color: rgba(110, 112, 114, 1);

  svg {
    margin-right: 4px;
  }
}

.adUrl {
  color: #049AE5;

}

@keyframes popup {
  0% {
    transform: scale(0.7);
  }
  100% {
    transform: scale(1);
  }
}


.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 500;

  background-color: rgba(0, 0, 0, 0.5);

  display: flex;
  align-items: center;
  justify-content: center;

  .popInside {
    padding: 24px;
  }

  .popupContent {
    padding: 24px;
    animation: popup 0.3s;

    height: 200px;
    max-width: 600px;
    background-color: white;
    border-radius: 8px;

    .popupText {
      font-size: 16px;
      font-weight: 500;
      margin-bottom: 24px;
    }

    .popupButtons {
      display: flex;
      justify-content: flex-end;
      gap: 12px;
      height: 80%;
      align-items: end;

      button {
        margin-top: 26px;
        border: none;
        padding: 12px 16px;
        border-radius: 9999px;
        color: white;
        font-weight: 600;
        background-color: #87CEFA;
        cursor: pointer;

        user-select: none;
        -webkit-user-select: none;


        transition: opacity 0.2s ease-in-out;

        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
}

.flaggedPopup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 500;

  background-color: rgba(0, 0, 0, 0.5);

  display: flex;
  align-items: center;
  justify-content: center;

  .popInside {
    padding: 24px;
  }

  .popupContent {
    padding: 24px;
    animation: popup 0.3s;

    height: auto;
    max-width: 600px;
    background-color: white;
    border-radius: 8px;


    .popupText {
      font-weight: 400;
      margin-bottom: 24px;
      color: rgba(0, 0, 0, 0.7);

      @media (max-width: 768px) {
        font-size: 12px;
      }
    }

    .popupButtons {
      display: flex;
      justify-content: flex-start;
      gap: 12px;

      button {
        border: none;
        padding: 12px 16px;
        border-radius: 9999px;
        color: white;
        font-weight: 600;
        background-color: #87CEFA;
        cursor: pointer;

        user-select: none;
        -webkit-user-select: none;


        transition: opacity 0.2s ease-in-out;

        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
}

.deletePopupButton {
  // light red
  background-color: #F87171 !important;
}

.modalTitle {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 16px;

  @media (max-width: 768px) {
    font-size: 15px;

  }
}

.flaggedImage {
  user-select: none;
  -webkit-user-select: none;

  @media (max-width: 768px) {
    width: 100px;
    height: 100px;
  }

}