
.bgBlueOption {
  background-color: rgba(247, 249, 249, 1);
}

.searchBox {
  position: relative;
  height: 40px;

  * {
    text-align: left;
  }

  .searchBar {
    font-size: 15px;
    font-weight: 400;
    width: 100%;
    height: 100%;
    border-radius: 9999px;
    border: 1px solid #d3dce5;
    padding: 0 18px 0 42px;
    background: #fff;
    outline: none;
    transition: border-color 0.2s, box-shadow 0.2s;

    &::placeholder {
      color: rgb(139, 152, 165);
      user-select: none;
      -webkit-user-select: none;
    }
  }

  .searchIcon {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 10px;
    left: 14px;
    color: rgb(139, 152, 165);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .searchBar:focus {
    border: 1px solid #059AE5;
    box-shadow: 0 0 0 2px rgba(5, 154, 229, 0.12);

    &::placeholder {
      color: transparent;
    }

  }

  .searchBar:focus + .searchIcon {
    color: #059AE5;
  }
}

.parentDataList {
  position: relative;
  z-index: 2022;

  .datalist {
    background-color: white;
    font-size: 14px;
    position: absolute;
    margin-top: 0.35rem;
    width: 100%;
    max-height: 270px;
    overflow-x: hidden;
    outline: 0;
    transition: opacity .1s ease;
    border: 1px solid rgb(239, 243, 244);
    border-radius: 8px;
    box-shadow: rgba(101, 119, 134, 0.2) 0px 0px 15px, rgba(101, 119, 134, 0.15) 0px 0px 3px 1px;
  }

  .hiddenDataList {
    display: none;
  }
}

.datalistOption {
  cursor: pointer;
  text-align: left;
  padding: 12px 16px;
  transition: background-color 0.2s;

  &:not(:last-child) {
    border-bottom: 1px solid rgb(239, 243, 244);
  }
}

.dashboardSearchBox {
  @extend .searchBox;
  display: inline-block;
  margin: 0;
}

.professorName {
  font-weight: 600;
  text-align: left;
}

.professorItem {
  display: flex;
  flex-direction: column;

  * {
    text-align: left;
  }


  .professorName {
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }


  .email {
    color: rgb(83, 100, 113);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;


  }
}
