@use "../../form";

.replyForm {
  position: fixed;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: rgba(3, 3, 3, 0.4);

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 2024;

  width: 100%;
  height: 100%;
}

.replyFormModal {
  background-color: white;
  border-radius: 8px;
  padding: 64px 32px 32px 32px;
  max-width: 550px;
  width: 100%;

  position: relative;
}

.closeButton {
  position: absolute;
  top: 25px;
  z-index: 50;
  cursor: pointer;
  height: 28px;
  width: 28px;
}

.replyingTo {
  font-size: 16px;
  font-weight: 500;
  margin-top: 64px;

  .replyAuthor {
    font-weight: 600;
  }
}


@mixin commentLength($color) {
  color: $color;
  font-weight: 500;
  font-size: 12px;
  transition: color 0.2s ease-in-out, transform 0.4s ease-in-out;
  transform-origin: right;
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  user-select: none;
  -webkit-user-select: none;
}

.commentLengthGood {
  @include commentLength(#808080);
  transform: scale(1.1);
}

.commentLength {
  @include commentLength(#808080);
}

.commentLengthWarning {
  @include commentLength(#FF0000);
  //font-size: 0.9rem;
  transform: scale(1.3);

}

.commentLengthPerfect {
  @include commentLength(#049AE5);
  transform: scale(1.1);
}

.postParagraph {
  padding-bottom: 2px;
  padding-top: 2px;
  overflow: hidden;
  position: relative;
  white-space: pre-wrap;

}

.postPlaceholder {
  color: #536471;
  position: absolute;
  user-select: none;
  -webkit-user-select: none;
  z-index: 1;
  padding-bottom: 2px;
  padding-top: 2px;
}

.postRTL {
  direction: rtl;
  text-align: right;
}

.postLTR {
  direction: ltr;
  text-align: left;
}

.postContentContainer {
  padding-bottom: 2px;
  padding-top: 2px;
  position: relative;
  z-index: 1;
}

.postContent {
  -moz-user-modify: read-write-plaintext-only;
  -webkit-user-modify: read-write-plaintext-only;
  height: inherit;
  max-height: inherit;
  min-height: inherit;
  text-align: initial;
}

.postContent[contenteditable=true] {
  -moz-user-modify: read-write-plaintext-only;
  -webkit-user-modify: read-write-plaintext-only;
}

.postEditor {
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  -webkit-user-select: none;
  cursor: text;
  max-height: 60vh;
  min-height: 50px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  width: 100%;
  margin-top: 12px;
}

@media (max-width: 768px) {
  .replyFormModal {
    max-width: 100%;
    height: 100%;
    border-radius: 0;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 84px;
  }

}

.error {
  display: none;
}

.showError {
  display: flex;
  color: #FF0000;
  font-size: 12px;
  font-weight: 500;
  margin-top: 12px;
}

.gifSelector {
  position: relative;
  transition: opacity 0.2s ease-in-out;
  opacity: 0;
  z-index: 999;
  pointer-events: none;
  top: -30%;

  aside {
    position: absolute !important;

    @media (max-width: 768px) {
      right: 0;
    }

    @media (min-width: 768px) {
      left: 50px;
    }

  }
}

.container2 {
  // middleo f the screen

}

.buttonIconWrapper {
  min-width: 36px;
  min-height: 36px;
  cursor: pointer;
  transition-duration: 0.3s;
  transition-property: all;
  border-radius: 9999px;
  margin-left: -8px;
  margin-right: 8px;

  &:hover {
    color: #049AE5;
  }

  @media (min-width: 768px) {
    &:hover {
      background-color: rgba(4, 154, 229, 0.1);
    }
  }
}


.buttonLabel {
  transition-property: background-color;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
}


.postButtonList {
  display: flex;
  margin-top: 10px;
  margin-bottom: 20px;
}

.imagePreview {
  position: relative;
  cursor: pointer;

  width: 200px;

  max-height: 300px;

  border-radius: 16px;
  border: 1px solid #E5E5E5;

  margin-top: 12px;

  overflow: hidden;
  z-index: 1;


  .imageDiv {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    max-width: 100%;
    height: 100%;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  img {
    inset: 0px;
    height: 100%;
    opacity: 0;
    position: absolute;
    width: 100%;
    z-index: -1;
    -webkit-user-drag: none;
    overflow-clip-margin: content-box;
    overflow: clip;
  }
}

.deleteButton {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  margin: 8px;
  cursor: pointer;
  transition-duration: 0.2s;
  transition-property: background-color, box-shadow;
  border-radius: 9999px;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  width: 24px;

  &:hover {
    background-color: rgba(0, 0, 0, 0.5);
  }
}