.header {
  width: 300px;
  user-select: none;
  -webkit-user-select: none;
}

.header2 {
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  padding: 12px 1rem;
  border-right: 1px solid #E0E0E0;
  transition: top 0.1s ease-in-out;
  display: flex;
  flex-direction: column;
}

.title {
  background: rgb(5, 154, 229);
  background: linear-gradient(to right, rgba(5, 154, 229, 1) 0%, rgba(173, 216, 255, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  user-select: none;
  -webkit-user-select: none;
  cursor: pointer;
  padding-top: 1rem;
  padding-left: 1rem;
  font-size: 25px;

  display: flex;
  align-items: center;

  .titleText {
    margin-left: 4px;
  }
}

.navigation {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  gap: 1rem;
}

.navLink {
  color: #000;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 1rem;
  cursor: pointer;
  transition-duration: 0.2s;
  user-select: none;
  -webkit-user-select: none;
  text-decoration: none;
  border-radius: 9999px;

  &:hover {
    text-decoration: none;
  }

  &:hover {
    background-color: rgba(232, 77, 77, 0.1);
  }

  display: flex;
  align-items: center;

  svg {
    display: flex;
    align-items: center;
  }

  .navLinkText {
    margin-left: 1rem;
  }

  .forUAEU {
    @extend .navLinkText;
    font-size: 10px;
    background: rgb(255, 0, 0);
    background: linear-gradient(90deg, rgba(255, 0, 0, 1) 0%, rgba(255, 0, 0, 1) 50%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  p {
    margin-right: 1rem;
  }
}

.navLinkLogin {
  display: none;
}

.navLinkLoginReversed {
  display: none;
}


@media (max-width: 1300px) {
  .navLinkLogin {
    display: flex;
  }
}


@media (max-width: 1010px) {
  .navigation {
    align-self: end;
  }

  .navLink {
    width: fit-content;
    align-self: flex-end;

    span {
      display: none;
    }
  }

  .navLinkLogin, .hide {
    display: none;
  }

  .navLinkLoginReversed {
    display: flex;
  }
}