.rating {
  display: flex;
  align-items: center;
  cursor: default;
  user-select: none;
  -webkit-user-select: none;
}

.like {
  @extend .rating;
}

.dislike {
  @extend .rating;
  margin-left: 1rem;
}

.ratingIconBg {
  position: absolute;
  margin: -8px;
  outline-style: none;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  border-radius: 9999px;
  transition-duration: 0.2s;
}

.ratingCount {
  padding-left: 12px;
  padding-right: 12px;

}

.ratingIcon {
  width: 20px;
  height: 20px;
}

.filledRatingIcon {
  @extend .ratingIcon;
  color: #049AE5;
}

.buttonWrapper {
  position: relative;
  display: flex;

}