.searchPage {
  min-height: 50vh;
  margin-top: 64px;
  text-align: center;

  .searchBox {
    margin-top: 32px;
    margin-bottom: 18px;

    * {
      margin: auto;
    }
  }

  @media (max-width: 768px) {
    padding-left: 12px;
    padding-right: 12px;
  }
}

.coursePage {
  padding-bottom: 1rem;
  min-height: 150vh;
}

.courseInfoHead {
  padding: 1rem;
  margin: auto;
  max-width: 600px;
  width: 100%;
  border-bottom: solid 1px rgba(0, 0, 0, 0.075);

  @media (max-width: 768px) {
    margin: 0;
    max-width: 100%;
  }

  h1 {
    font-weight: 400;
    margin-top: 0.5rem;
  }
}

.fileList {
  margin: 2rem auto auto;
  width: 100%;
  max-width: 600px;

  @media (max-width: 768px) {
    margin: 0;
    max-width: 100%;
  }
}

.courseNotFound {
  padding-bottom: 1rem;
  min-height: 85vh;
}