
.head {

  padding-right: 12px;
  padding-left: 12px;
  padding-bottom: 16px;

  display: flex;
  align-items: center;
  flex-wrap: wrap;

  width: fit-content;
    margin: auto;

  .universityList {
    font-size: 18px;
    margin-top: 8px;
    margin-bottom: 8px;
  }

  .universityName {
    margin-bottom: 8px;


  }

  .moreComingSoon {
    font-size: 14px;
    color: rgb(139, 152, 165);
  }

  .writingPuppy {
    flex: 1 0 50px; /* or 1 0 100px, and no more need in min-width at all */
    max-width: 200px;
    min-width: 50px;
  }

  @media (max-width: 768px) {
    justify-content: center;

    .title {
      font-size: 15px;
      text-align: center;
    }

    .universityList {
      font-size: 14px;
      text-align: center;
    }

    .writingPuppy {
      flex: 1;
      max-width: 200px;
      min-width: 200px;
    }

  }

}

.callToAction {
  font-size: 18px;
  font-weight: 500;

  width: fit-content;
  margin: 42px auto auto;

  @media (max-width: 768px) {
    margin-left: 25%;
  }

  @media (max-width: 417px) {
    margin-right: 0;
  }

}

.title {
  font-size: 22px;
  font-weight: 600;
  margin-top: 32px;
  margin-bottom: 16px;

  svg {
    margin-right: 8px;
  }

}

.block {
  padding-right: 12px;
  padding-left: 12px;
  padding-bottom: 16px;


  &:not(:first-child) {
    margin-top: 28px;
    padding-bottom: 28px;
  }

  &:last-child {
    border-bottom: none;
  }

  p {
    font-size: 18px;
    margin-top: 12px;
    margin-bottom: 8px;
  }

}


.gotoBlock {
  padding-right: 12px;
  padding-left: 12px;
  display: flex;
  flex-wrap: wrap;
  gap: 32px;

  width: fit-content;
  margin: auto auto 32px;

  @media (max-width: 768px) {
    justify-content: center;
  }

  .gotoButton {
    display: flex;
    align-items: center;
    gap: 4px;

    padding: 8px 16px;
    border-radius: 20px;
    color: #87CEFA;
    border: 2px solid #87CEFA;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: #87CEFA;
      color: white;
    }

    @media (max-width: 768px) {
      font-size: 14px;
    }

  }
}