
.head {
  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom: 1px solid rgb(239, 243, 244);
  padding-right: 12px;
  padding-left: 12px;
  padding-bottom: 16px;

  p {
    font-size: 18px;
    margin-top: 8px;
    margin-bottom: 8px;
    color: rgb(139, 152, 165);
  }

  @media (max-width: 768px) {
    .title {
      font-size: 22px;
    }

    p {
      font-size: 14px;
    }
  }

}


.title {
  font-size: 24px;
  font-weight: 600;
  margin-top: 32px;
}

.block {
  padding-right: 12px;
  padding-left: 12px;
  padding-bottom: 16px;
  border-bottom: 1px solid rgb(239, 243, 244);


  &:not(:first-child) {
    margin-top: 28px;
    padding-bottom: 28px;
  }

  &:last-child {
    border-bottom: none;
  }

  p {
    font-size: 18px;
    margin-top: 12px;
    margin-bottom: 8px;
  }

  @media (max-width: 768px) {
    .title {
      font-size: 22px;
    }

    p {
      font-size: 14px;
    }
  }

}

.centerBlock {
  @extend .block;

  .title {
    text-align: center;
  }

  p {
    max-width: fit-content;
    margin: 12px auto 8px;
  }
}

.searchBox {
  z-index: 122;
  padding-top: 32px;
  padding-bottom: 32px;

  * {
    margin: auto;
  }
}

.caution {
  font-size: 12px !important;
  color: rgb(139, 152, 165);

}

.redColor {
  color: rgb(232, 77, 77);
}

.gotoBlock {
  padding-right: 12px;
  padding-left: 12px;
  display: flex;
  margin-top: 32px;
  margin-bottom: 32px;
  flex-wrap: wrap;
  gap: 32px;

  .gotoButton {
    display: flex;
    align-items: center;
    gap: 4px;

    padding: 8px 16px;
    border-radius: 20px;
    color: #87CEFA;
    border: 2px solid #87CEFA;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: #87CEFA;
      color: white;
    }

    @media (max-width: 768px) {
      font-size: 14px;
    }

  }
}