
.page {
  margin: 0 auto;
  max-width: 1024px;
  padding: 0 1rem;

  h1 {
    text-align: center;
    font-size: 48px;
    margin: 28px 0;
    font-weight: 600;
    line-height: 1.08349;
    letter-spacing: -.003em;
  }

  @media (max-width: 1068px) {
    h1 {
      font-size: 40px;
      letter-spacing: 0;
      line-height: 1.1;
    }
  }

  @media (max-width: 768px) {
    h1 {
      font-size: 32px;
      letter-spacing: .004em;
      line-height: 1.125;
      text-align: left;
    }
  }
}

.body {
  margin-top: 2rem;
  font-weight: 300;

  h3 {
    font-size: 24px;
    margin-top: 1.6em;
    font-weight: 600;
    margin-bottom: 0.45em;
    letter-spacing: .009em;
  }

  h4 {
    font-size: 20px;
    margin-top: 1.6em;
    font-weight: 600;
    margin-bottom: 0.45em;
  }

  p {
    font-size: 17px;
    margin-bottom: 1em;
    font-weight: 300;
    line-height: 1.47059;
    letter-spacing: -.022em;

    a {
      color: #007bff;
      text-decoration: none;
      font-weight: 400;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  p:last-child {
    margin-top: 5em;
  }

  ul {
    margin: 1em 0 1em 1.11111em;
    list-style: disc;
    font-weight: 300;

    li {
      list-style-type: square;
      font-size: 17px;
      margin-bottom: 0.5em;
    }
  }

  @media (max-width: 1068px) {
    h3 {
      font-size: 21px;
      letter-spacing: .011em;
      line-height: 1.19048;
    }

    h4 {
      font-size: 18px;
      letter-spacing: .006em;
      line-height: 1.33333;
    }
  }
}