.loginPage {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 300px);
  justify-content: center;
  max-width: 400px;
  margin: 0 auto;

  @media (max-width: 768px) {
    padding: 0 1rem;
  }

}

.headSection {
  margin-bottom: 36px;
}

.title {
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 1rem;

}

.loginForm {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 8px;
}

.formField {
  width: 100%;
  margin-bottom: 22px;
  padding: 9px 8px;
  border-radius: 8px;
  font-size: 16px;
  transition: background 0.2s ease-in-out, border 0.2s ease-in-out;
  border: none;
  background: rgba(0, 0, 0, 0.05);

  &:hover {
    background: rgba(0, 0, 0, 0.1);
  }

  &:focus {
    outline: none;
  }

  &::placeholder {
    color: rgba(0, 0, 0, 0.5);
  }
}

.invalid {
  outline: 2px solid red;

}

.validation {
  font-size: 12px;
  height: 40px;
  color: red;
}

.formButton {
  width: 100%;
  margin-bottom: 1rem;
  padding: 10px 0;
  border: none;
  background-color: #87CEFA;
  cursor: pointer;
  font-weight: 700;
  color: white;
  font-size: 16px;
  transition: all 0.2s ease-in-out;
  border-radius: 20px;
  user-select: none;
  -webkit-user-select: none;

  &:hover {
    opacity: 0.7;
  }
}

.disabledButton {
  @extend .formButton;
  background-color: rgba(135, 206, 250, 0.5);
  cursor: default;
  pointer-events: none;

  &:hover {
    opacity: 1;

  }
}

.signUpButton {
  width: 100%;
  margin-bottom: 1rem;
  padding: 10px 0;
  border: none;
  background-color: #45b9ff;
  cursor: pointer;
  font-weight: 700;
  color: white;
  font-size: 16px;
  transition: opacity 0.2s ease-in-out;
  border-radius: 20px;


  &:hover {
    opacity: 0.7;
  }

}

.orSeparator {
  user-select: none;
  -webkit-user-select: none;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  line-height: 0.1em;
  margin: 10px 0 20px;
  letter-spacing: 0.18rem;
  font-weight: 700;
  color: rgba(18, 18, 18, 0.75);

  span {
    background: #fff;
    padding: 0 10px;
  }
}

.loginWith {
  font-weight: 700;
}

.terms {
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.5);
  margin-top: 1rem;

  a {
    text-decoration: underline;
  }
}

.panelTitle {
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 1rem;


  p {
    font-weight: 400;
    margin-top: 8px;
    margin-bottom: 22px;
  }
}