.notifPage {
  max-width: 600px;
  margin: 0 auto auto;
}

.head {
  padding-top: 12px;
    padding-bottom: 12px;

  border-bottom: 1px solid #e0e0e0;
}

.noNotifs {
  margin-top: 12px;
  color: #666;
}