.searchPage {

  min-height: 110vh;
  max-width: 600px;
  margin: 0 auto;

  .searchPageHead {
    padding-left: 12px;
    padding-right: 12px;

  }

  .title {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 8px;

    @media (max-width: 768px) {
      font-size: 18px;
    }

  }

  .about {
    font-weight: 500;
    font-size: 16px;
    color: rgb(92, 101, 110);


    @media (max-width: 768px) {
      font-size: 14px;
    }
  }


  .searchBox {
    margin-top: 64px;
    margin-bottom: 18px;
    padding-left: 12px;
    padding-right: 12px;

    .caution {
      font-size: 11px;
      color: #86868b;
      margin-bottom: 12px;

      a {
        text-decoration: underline;
      }
    }

  }

  .url {
    color: #007bff;
  }

  @media (max-width: 768px) {
    padding-top: 16px;
  }
}

.featureList {
  display: flex;

  font-size: 12px;
  text-align: center;
  justify-content: center;

  padding-top: 32px;


  .listItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding: 16px;
    font-weight: 600;
    max-width: 200px;

    svg {
      color: #059AE5;
    }

  }
}


.pickUniversityParent {
  margin-top: 32px;
  padding-left: 12px;
  padding-right: 12px;

  .pickUniversityText {
    display: flex;
    gap: 8px;

    margin-top: 32px;
    font-weight: 600;
    font-size: 15px;
    width: fit-content;


  }

  .pickUniversity {
    display: flex;
    column-gap: 6px;
    row-gap: 12px;
    flex-wrap: wrap;
    margin-top: 16px;

    .university {
      padding: 8px 16px;
      border-radius: 8px;
      background-color: #f8f9fa;
      color: #495057;
      font-size: 13px;
      font-weight: 600;
      cursor: pointer;
      transition: background-color 0.3s;
      user-select: none;
      -webkit-user-select: none;

      display: flex;
      justify-content: center;

      img {
        margin-right: 4px;
        width: 16px;
        margin-right: 8px;
      }

      @media (min-width: 768px) {
        &:hover {
          background-color: #e9ecef;
        }

        &:active {
          background-color: #dee2e6;
        }
      }
    }

    @media (max-width: 768px) {
    }

    .selected {
      @extend .university;
      box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    }
  }

}


.prevProfs {
  padding-left: 12px;
  padding-right: 12px;
  max-width: 400px;
  margin: 64px auto auto;

  .historyTitle {
    display: flex;
    align-items: center;
    gap: 4px;
    margin-bottom: 12px;
    font-weight: 500;
    font-size: 14px;
    color: rgb(92, 101, 110);
  }

  .professorCard {
    margin-bottom: 12px;
    display: flex;
    color: rgb(139, 152, 165);
    font-size: 12px;
    gap: 4px;

    .time {
      display: flex;
      gap: 4px;
      align-items: center;
      white-space: nowrap;
    }

    .professorInfo {
      display: flex;
      gap: 4px;

      .profName {
        font-weight: 500;
        color: #007bff;
        white-space: nowrap;
      }

      .profUniversityParent {

        display: table;
        table-layout: fixed;
        width: 100%;
      }

      .profUniversity {
        font-weight: 500;

        display: table-cell;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;

        text-align: left;

      }
    }
  }

  @media (max-width: 768px) {
    * {
      font-size: 12px;
    }
  }

}

.profPage {
  max-width: 600px;
  padding-bottom: 12px;
  margin: 0 auto auto;

  @media (min-width: 768px) {
    padding-top: 8px;
  }
}

.profInfoHead {
  display: flex;
  align-items: center;

  padding: 1rem;
  margin: auto;
  background-color: white;
  width: 100%;
  border-bottom: 1px solid rgb(239, 243, 244);


  backdrop-filter: blur(12px);
  background-color: rgba(255, 255, 255, 0.85);

  @media (max-width: 815px) {
    max-width: 100%;
  }
}

.infoRight {
  width: 100%;
  font-size: 0.85rem;
  line-height: 1.5rem;

  .collegeName {
    font-size: 1rem;
  }

  .universityName {
    font-weight: 600;
    color: rgba(0, 0, 0, 0.5);
    font-size: 12px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.infoLeft {
  padding-left: 8px;
  margin-right: 28px;
  min-width: 90px;

  .infoLeftScore {
    text-align: right;
    display: flex;
    justify-content: center;

    .outOf {
      font-weight: 600;
      color: rgba(0, 0, 0, 0.5);
      margin-top: 0.70rem;
      margin-left: 0.25rem;

    }


  }

}

.imageAd {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 1rem;

  overflow: hidden;

  img {
    width: 100%;
    max-width: 400px;
  }

}


.score {
  font-weight: 600;
  font-size: 45px;
  text-align: center;
  color: black;
  width: fit-content;
}


.sortButtonWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 16px;
  padding-left: 16px;
  user-select: none;
  -webkit-user-select: none;
}

.commentsCount {
  font-weight: 500;
}

.sortButton {
  display: flex;
  align-items: center;
  cursor: pointer;

  @media (min-width: 768px) {
    &:hover {
      .sortIconBackground {
        background-color: rgba(232, 77, 77, 0.1);
        border-radius: 50%;

      }
    }
  }
}

.sortIcon {
  position: relative;
  margin: 12px;
  display: flex;
  align-content: center;
}

.sortIconBackground {
  position: absolute;
  margin: -8px;
  outline-style: none;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  border-radius: 9999px;
  transition-duration: 0.2s;
}

.sortByMenu {
  position: relative;
  opacity: 1;
  transition-duration: 0.2s;
  transition-property: opacity;
  transition-timing-function: ease;
  z-index: 200;

}

.hiddenSortByMenu {
  @extend .sortByMenu;
  opacity: 0;
  pointer-events: none;
  transition-duration: 0.2s;
  transition-property: opacity;
  transition-timing-function: ease;
}

.sortByMenuList {
  margin-right: 16px;
  width: 100px;
  overflow-y: auto;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: rgba(101, 119, 134, 0.2) 0px 0px 15px, rgba(101, 119, 134, 0.15) 0px 0px 3px 1px;
  overscroll-behavior: contain;
  user-select: none;
  -webkit-user-select: none;
}

.sortByListItem {
  display: block;
  font-size: 15px;
  padding: 12px 16px;
  cursor: pointer;
  transition-duration: 0.2s;
  transition-property: background-color;
  text-decoration: none;

  &:hover {
    background-color: rgba(232, 77, 77, 0.1);
  }

  &:first-child {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }

  &:last-child {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }

}

.commentsSection {
  margin: 1rem auto auto;
  width: 100%;
  max-width: 600px;
  min-height: 500px;

  @media (max-width: 815px) {
    max-width: 100%;
  }
}


.professorNotFound {
  height: calc(100vh - 10rem);
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  gap: 3rem;
  color: rgba(0, 0, 0, 0.5);

  * {
    margin: auto;
  }

  div > * {
    font-size: 2vh;
    padding: 1rem;
  }

  img {
    opacity: 0.5;
    transition: opacity 0.8s ease;

    &:hover {
      opacity: 1;
    }
  }
}

