
:root {

    font-family: Montserrat, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, sans-serif;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-size: 15px;
    overflow-y: scroll;
    overscroll-behavior-y: none;
}


html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    margin: 0;
    background-color: #ffffff;
    min-width: 320px;
}

header {
    flex-grow: 1;
}

main {
    width: 600px;
    max-width: 1200px;
    flex-grow: 1;
    flex-shrink: 1;
    padding-top: 3rem;
}

button {
    -webkit-user-select: none;
}

img.emoji {
    height: 1.2em;
    width: 1.2em;
    margin: 0 .075em 0 .075em;
    vertical-align: -20%;
}

a {
    color: inherit;
    text-decoration: none;

    &:hover{
        text-decoration: underline;
    }
}

footer {
    max-width: 380px;
    flex-grow: 1;
    padding-top: 45px;
    padding-left: 15px;
}

.grecaptcha-badge {
    visibility: hidden;
}

.text-separator {
    padding-left: 4px;
    padding-right: 4px;
    color: rgb(139, 152, 165);
    font-weight: 400;
}

@media (max-width: 1300px) {
    footer {
        display: none;
    }

    main {
        flex-grow: 2;
    }
}

@media (max-width: 1010px) {
    header {
        width: 240px;
    }

}

@media (max-width: 768px) {
    body {
        margin-top: 51px;
    }

    main {
        width: 100%;
        padding: 30px 0 64px;
    }

    #root {
        display: block !important;
    }

}