@mixin home-section($theme) {
  background-color: $theme;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2.5rem 1rem 0.2rem;

  h2 {
    font-weight: 600;
    font-size: 2.5rem;
  }
  h3 {
    margin-top: 1rem;
    font-weight: 400;
    font-size: 1.5rem;
  }

  @media (max-width: 1068px) {
    h2 {
      font-size: 2rem;
    }
    h3 {
      font-size: 1.25rem;
    }
    .image {
      width: 330px;
      height: 300px;
    }
  }

  @media (max-width: 734px) {
    h2 {
      font-size: 1.5rem;
    }
    h3 {
      font-size: 1rem;
    }
  }

}

.image {
  opacity: 0.5;
  transition: opacity 1s ease;
}

.image:hover {
  opacity: 1;
}

.course {
  @include home-section(#ADFFFD);
}

.professor {
  @include home-section(#FAFAFA);
}

.separator {
  border: 0;
  border-top: 8px solid #ffffff;
}

.adCover {
  border-top: 8px solid #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 0.5rem;

  img {
    cursor: pointer;
  }

  .adImage2 {
    display: none;
  }

  @media (max-width: 800px) {
    .adImage1 {
      display: none;
    }

    .adImage2 {
      display: block;
    }
  }
}

.helpUs {
  background-color: white;
  padding: 1rem 1rem 1rem calc(1rem + env(safe-area-inset-right));
  display: flex;
  color: rgb(2, 136, 209);
  font-size: 14px;

  span {
    padding-right: 0.5rem;
    margin-right: 0.5rem;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    align-self: center;
  }
}

.sectionBody {
  margin: 3rem 0 5rem;

  * {
    margin: 0 auto;
  }

}

.trending {
  border-radius: 6px;
  text-align: left;
  padding: 0rem 1rem 1rem;
  margin-bottom: 2rem;

  div {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
  }

  div > svg {
    margin: 0.8rem 0 0;
  }

  div > h3 {
    font-size: 1rem;
    font-weight: 600;
    margin: 0.8rem 0.8rem 0;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  ul > li {
    margin-bottom: 0.5rem;
    font-size: 1rem;
    font-weight: 400;
    color: #007bff;
    text-decoration: none;

    a {
      color: #007bff;
      text-decoration: none;
      font-weight: 400;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.message {
  display: flex;
  align-items: center;
  text-align: left;
  padding: 1rem;
  margin-bottom: 2rem;

  border-bottom: 1px solid rgba(0, 0, 0, 0.075);


  max-width: 800px;


  .messageImage {
    border-radius: 8px;
    margin-left: 1rem;


  }

  h3 {
    font-size: 20px;
    font-weight: 600;
    margin: 1rem 0;
  }

  p {
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
  }

  .spaceread {
    font-weight: 700;
    background: rgb(5, 154, 229);
    background: linear-gradient(to right, rgba(5, 154, 229, 1) 0%, rgba(173, 216, 255, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .takeButton {
    display: flex;
    align-items: center;
    margin: 1rem 0;
    color: white;
    border: none;
    border-radius: 18px;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: opacity 0.2s;

    width: fit-content;
    background-color: #87CEFA;

    &:hover {
      opacity: 0.7;
    }
  }

  @media (max-width: 1068px) {
    h3 {
      font-size: 18px;
    }
    p {
      font-size: 14px;
    }
    .takeButton {
      font-size: 14px;
      padding: 0.5rem 0.8rem;
    }

  }

  @media (max-width: 734px) {
    h3 {
      font-size: 15px;
    }
    p {
      font-size: 10px;
    }

    .takeButton {
      font-size: 10px;
      padding: 0.5rem 0.8rem;
    }
  }
}

.card {
  flex-shrink: 0;
  margin-left: 8px;
  font-weight: bold;
  padding: 1em;
  text-align: right;
  color: #181a1a;

  width:  150px;
  height: 150px;
  box-shadow: 0 1px 5px #00000099;

  background-image: url(https://s3.me-central-1.amazonaws.com/static.spaceread.net/maskable512.png);
  background-size: cover;

  position: relative;

  transition-duration: 300ms;
  transition-property: transform, box-shadow;
  transition-timing-function: ease-out;
  transform: rotate3d(0);

  @media (max-width: 1068px) {
    width: 150px;
    height: 150px;
  }

    @media (max-width: 734px) {
        width: 100px;
        height: 100px;
    }
}

.card:hover {
  transition-duration: 150ms;
  box-shadow: 0 5px 20px 5px #00000044;
}

.card .glow {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;

  background-image: radial-gradient(circle at 50% -20%, #ffffff22, #0000000f);
}